.wp-block-gallery {
	figcaption {
		padding: 40px 10px 5px;
		color: $white;
		text-align: center;
		font-size: $default-font-size;
		background: linear-gradient( 0deg, rgba( $color: $black, $alpha: 0.7 ) 0, rgba($color: $black, $alpha: 0.3) 60%, transparent );
	}
}
